<html><head>

    <meta name="viewport" content="width=480">
    
    <style>
    input {border-style: none; border-bottom-style: solid; border-width:thin;}
    
    div {border:solid thin black; margin: 0.5em; padding: 0.5em; border-radius: 1em; background: #f7f7f7;}
    
    .die {border:solid thin black; margin: 1px; padding: 1px; border-radius: 5px; display: inline-block;}
    
    .outer {margin: auto; max-width: 750px; background: khaki;}
    
    @viewport { width: 640;}
    
    </style>
    
    
    
    </head>
    
    <body onload=loady()>
    
    </body></html>