{% extends 'layout.html'%} 

{%block content%}
<h1> home page is working </h1>
<div class="test",id="testblock">
  
  <p>This is a test.</p>
  <script src="{{url_for('static',filename='main.js')}}"></script>
</div>

<div class="card text-center">
  <div class="card-header">
    Featured
  </div>
  <div class="card-body">
    <h5 class="card-title">Special title treatment</h5>
    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
  <div class="card-footer text-muted">
    2 days ago
  </div>
</div>
{%endblock content%}


