{% extends 'navigation.html'%} 
{%block content%}

{% block login %}{% endblock login %}   
{% block script %} {% endblock script%}

<!-- map-->
<div class="jumbotron">
  <div class="container text-center">
    <h1>MAP</h1>      
    <p>A map of the US, with cars from all teams</p>
    <img src="{{ url_for('static', filename='teams_all.png') }}" style="width:100%" alt="Image">
  </div>
</div>


<!-- leaderboard for team-->
<div class="text-center">
  <h1> Team Leaderboard</h1>
  <font size=3>
  <table class="table table-striped table-bordered" id="sortTable" cellspacing="0" width="100%">
    <thead>
      <tr>
        <th class="th-sm">Team ID</th>
        <th class="th-sm">Team Name</th>
        <th class="th-sm">Player Ids</th>
        <th class="th-sm">Current week #</th>
        <th class="th-sm"># Cities Visited</th>
        <th class="th-sm">Accumulative Miles</th>
        <th class="th-sm">Current Location</th>
        <th class="th-sm">Points</th>
      </tr>
    </thead>
    <tbody>
      {% for team in team_leader_board %}
      <tr>
        <td>{{team.team_id}}</td>
        <td>{{team.team_name}}</td>
        <td>{{team.player_ids}}</td>
        <td>{{team.the_ith_week}}</td>
        <td>{{team.total_cities}}</td>
        <td>{{team.total_miles}}</td>
        <td>{{team.location}}</td>
        <td>{{team.points}}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  </font>
</div>
<script>
  $('#sortTable').DataTable();
</script>
{%endblock content%}

